<div id="<%= dom_id farmer %>">
  <p>
    <strong>Name:</strong>
    <%= farmer.name %>
  </p>

  <p>
    <strong>Edad:</strong>
    <%= farmer.age %>
  </p>

<!--ESTA SECCIÓN REQUIRIO MIRAR COMO AYUDA EL DOCUMENTO DEL PROFESOR PIPIPIPIPI-->
  <%  if farmer.animals.count > 0%>
    <p class="fw-bold">Animales de <%= farmer.name%> </p>
    <ul>
      <% farmer.animals.each do |u|%>
        <li><%= u.name%></li>
      <%end%>
    </ul>
  <%else%>
    <p class="fw-bold">No tiene animales aún</p>
  <%end%>
</div>
